<template>
  <main id="classic">

    <div class="row">
      <div class="col-md-12">

        <Carousel/>

        <div class="col-md-8">
          <form id="create-talk">
            <label for="talk-name" class="sr-only" v-html="$t('public.name')"></label>
            <div class="input-group input-group-lg talk-options" id="create-talk">
              <span class="input-group-addon">https://framatalk.org/</span>
              <input
                id="talk-name"
                v-model="talkName"
                type="text"
                class="form-control talk-name"
                maxlength="50"
                aria-describedby="#name-help"
                @focusout="sanitizeName"
              />
              <span class="input-group-btn">
                <button class="btn btn-lg btn-primary talk-create"
                  type="submit"
                  @click="createTalk">
                  <i class="fa fa-lg fa-video-camera" aria-hidden="true"></i>
                  <span v-html="$t('public.create')"></span>
                  <span class="sr-only" v-html="$t('public.atalk')"></span>
                </button>
              </span>
            </div>
            <p id="name-help" class="help-block small text-center"
              v-html="$t('public.help')"
            ></p>
            <a id="talk-url" href="https://framatalk.org/" class="hidden" rel="nofollow"></a>
          </form>
        </div>

        <div class="col-md-4">
          <p v-html="$t('what.desc')"></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="alert alert-info text-center">
            <p v-html="$t('tip.text1')"></p>
            <p>
              <span v-html="$t('tip.text2')"></span>
              <i class="fa fa-video-camera" aria-hidden="true"></i>
              <span class="sr-only" v-html="$t('tip.text3')"></span>
              <span v-html="$t('tip.text4')"></span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <hr role="presentation" />

    <div class="row">

      <div
        class="col-md-4"
        id="tuto-video">
        <h2 v-html="$t('help.title')"></h2>
        <p class="text-center" role="presentation">
          <i class="fa fa-question-circle" aria-hidden="true"></i>
        </p>
        <ol>
          <li v-html="$t('help.create')"></li>
          <li v-html="$t('help.allow')"></li>
          <li>
            <span v-html="$t('help.invite')"></span>
            <i class="fa fa-fw fa-lg fa-info-circle"></i>
            <span class="sr-only" v-html="$t('help.plus')"></span>
            <span v-html="$t('help.bar')"></span>
          </li>
        </ol>
        <p></p>
        <p v-html="$t('help.desc')"></p>
      </div>

      <div
        class="col-md-4"
        id="le-logiciel">
        <h2 v-html="$t('software.title')"></h2>
        <p class="text-center" role="presentation">
          <i class="fa fa-cloud" aria-hidden="true"></i>
        </p>
        <p>
          <span v-html="$t('software.basedon')"></span>
          <a href="https://jitsi.org/jitsi-meet">Jitsi Meet</a>.
        </p>
        <p>
          <span v-html="$t('software.instances')"></span>
          <a href="https://meet.jit.si" v-html="$t('software.jitsi')"></a>.
        </p>
        <p v-html="$t('software.license')"></p>
      </div>

      <div
        class="col-md-4"
        id="jardin">
        <h2 v-html="$t('garden.title')"></h2>
        <p class="text-center" role="presentation">
          <i class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></i>
        </p>
        <p>
          <span v-html="$t('garden.contrib')"></span>
          <a href="https://github.com/jitsi/jitsi-meet/" v-html="$t('garden.devsite')"></a>.
        </p>
        <br>
        <p v-html="$t('garden.install')"></p>
        <p class="text-center"><a
          :href="$t('garden.framacloud')"
          style="color:white"
          class="btn btn-success">
          <i class="glyphicon glyphicon-tree-deciduous"></i> framacloud.org</a>
        </p>
      </div>
    </div>
  </main>
</template>

<script>
import Carousel from '../partials/Carousel.vue';
import { rmDiacritics, randomName } from '../../tools';

export default {
  name: 'Home',
  components: {
    Carousel,
  },
  data() {
    return {
      talkName: randomName(),
    };
  },
  methods: {
    sanitizeName() {
      this.talkName = rmDiacritics(this.talkName).replace(/[^a-zA-Z0-9]/g, '');
    },
    createTalk(event) {
      event.preventDefault();
      window.location = `https://framatalk.org/${this.talkName}`;
    },
  },
};
</script>
