<template>
  <div class="carousel-container">
    <carousel :indicators="false" :controls="true" :interval="interval" ref="carousel">
      <slide>
        <img :src="`${$root['/']}img/${$route.meta.lang}/slide-framatalk04.png`" alt="" />
        <div class="carousel-caption">
          <p class="h3" v-html="$t('slides.fast')"></p>
        </div>
      </slide>
      <slide>
        <img :src="`${$root['/']}img/${$route.meta.lang}/slide-framatalk01.png`" alt=""/>
        <div class="carousel-caption">
          <p class="h3" v-html="$t('slides.name')"></p>
        </div>
      </slide>
      <slide>
        <img :src="`${$root['/']}img/${$route.meta.lang}/slide-framatalk02.png`" alt="" />
        <div class="carousel-caption">
          <p class="h3" v-html="$t('slides.mic')"></p>
        </div>
      </slide>
      <slide>
        <img :src="`${$root['/']}img/${$route.meta.lang}/slide-framatalk03.png`" alt="" />
        <div class="carousel-caption">
          <p class="h3" v-html="$t('slides.cam')"></p>
        </div>
      </slide>
      <slide>
        <img :src="`${$root['/']}img/${$route.meta.lang}/slide-framatalk04.png`" alt="" />
        <div class="carousel-caption">
          <p class="h3" v-html="$t('slides.share')"></p>
        </div>
      </slide>
    </carousel>
    <p class="text-center play-pause" v-if="interval === 5000">
      <button class="carousel-control" :title="$t('carousel.pause')"
        @click="interval=0">
        <i class="fa fa-fw fa-pause" aria-hidden="true"></i>
        <span class="sr-only" v-html="$t('carousel.pause')"></span>
      </button>
    </p>
    <p class="text-center play-pause" v-else>
      <button class="carousel-control" :title="$t('carousel.play')"
        @click="interval=5000">
        <i class="fa fa-fw fa-play" aria-hidden="true"></i>
        <span class="sr-only" v-html="$t('carousel.play')"></span>
      </button>
    </p>
  </div>
</template>

<script>
import { Carousel, Slide } from 'uiv';

export default {
  components: {
    Carousel, Slide,
  },
  data() {
    return {
      interval: 5000,
    };
  },
};
</script>
